#banner {
	margin-top:80px;
	margin-bottom:60px;
	text-align: center;
}

footer {
		margin-top:100px;
}


@media screen and (max-width: 520px) {
	.list-group {
		margin-top:50px;
		margin-bottom:60px;
	}
